html {
	background-color: cornsilk;
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	width: fill;
}

h1 {
	font-size: 250%;	/*taille de police relative en pourcentages*/
}

h2 {
	font-size: 150%; /*idem en légèrement moins large*/
}

table {
	margin: auto; /*pour centrer le tableau*/
}

footer {
	text-align: center;
}

#page {	/*boîte centrale pour encadrer le contenu en laissant des marges sur le bord*/
	background: blanchedalmond;
	color: chocolate;
	border: 1px solid chocolate;
	border-radius: 40px 5px; /*pour arrondir les bords*/
	padding: 6px;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 1%; /*pour avoir la même marge intérieure de tous les côtés du cadre*/
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.entete {
	text-align: center;
} 

#aboutme {
	text-align: center;
	list-style-position: inside; /*pour centrer la liste*/
}

#rendus {
	text-align: center;
}
